<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geemu.persistence.dao.TestUserInfoMapper">
  <resultMap id="BaseResultMap" type="me.geemu.persistence.entity.TestUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nick_name" jdbcType="CHAR" property="nickName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <select id="selectAllTestUserInfo" resultMap="BaseResultMap">
    SELECT * FROM test_user_info
  </select>
</mapper>